@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus, .clickable:hover, .clickable:focus, a:hover, a:focus {
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  text-shadow: none;
}

.rollable.favor:hover, .rollable.favor:focus, .clickable.favor:hover, .clickable.favor:focus {
  color: DarkGreen;
}

.rollable.disfavor:hover, .rollable.disfavor:focus, .clickable.disfavor:hover, .clickable.disfavor:focus {
  color: DarkRed;
}

.rollable.both:hover, .rollable.both:focus, .clickable.both:hover, .clickable.both:focus {
  color: DarkGoldenRod;
}

.grid,
.grid-2col {
  display: grid;
  align-items: center;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.aetrimonde .flexrow.header {
  padding-top: 2px;
  border-bottom: 1px solid #999;
}

.aetrimonde .flexrow.continued {
  padding-top: 2px;
  border-top: 2px solid #999;
}

.aetrimonde .flexrow.gridrow {
  align-items: center;
}

.aetrimonde .flexcol.sidebar {
  flex-grow: 0;
  flex-basis: 200px;
}

.aetrimonde .grid .leader {
  grid-column: 1 / span 2
}

.aetrimonde .grid .span {
  margin: auto;
}

.flex-group-center,
.flex-group-left,
.flex-group-right,
.flex-group-spread {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #782e22;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-group-spread {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to aetrimonde sheets */
.aetrimonde .item-form {
  font-family: "Roboto", sans-serif;
}

.aetrimonde .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.aetrimonde .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.aetrimonde .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.aetrimonde .sheet-header h1.charname {
  flex-basis: 50px;
}

.aetrimonde .sheet-header h1.charname input {
  width: 100%;
  height: auto;
  margin: 0;
}

.aetrimonde .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.aetrimonde nav.sheet-tabs.item-tabs {
  flex: 0 0 auto;
  height: auto;
}

.aetrimonde nav.sheet-tabs.tabs {
  border-bottom: none;
}

.aetrimonde nav.sheet-tabs.tabs.item-tabs a {
  min-width: 25%;
}

.aetrimonde .sheet-body,
.aetrimonde .sheet-body .tab,
.aetrimonde .sheet-body .tab .editor {
  height: 100%;
}

.aetrimonde .tox .tox-editor-container {
  background: #fff;
}

.aetrimonde .tox .tox-edit-area {
  padding: 0 8px;
}

.aetrimonde .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.aetrimonde .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
}

.aetrimonde .tabs .item {
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 2px solid #782e22;
}

.aetrimonde .tabs .item.active {
  font-weight: bold;
  color: #782e22;
  text-shadow: none;
  border-bottom: 4px solid #782e22;
}

.aetrimonde .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.aetrimonde .items-list .item-header {
  font-weight: bold;
}

.aetrimonde .items-list .item-header .item-image {
  width: 42px;
}

.aetrimonde .items-list .item {
  height: 30px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.aetrimonde .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.aetrimonde .items-list .item img {
  display: block;
  border: none;
}

.aetrimonde .items-list .item-name {
  margin: 0;
  min-width: 200px;
  padding: 2px;
}

.aetrimonde .items-list .item-col {
  margin: 0;
  min-width: 100px;
  padding: 2px;
}

.aetrimonde .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 51px;
  flex: 0 0 53px;
  padding-right: 2px;
  text-align: right;
  justify-content: flex-end;
}

.aetrimonde .items-list .item.magical {
  box-shadow: inset 0 0 4px gold;
}

.aetrimonde .items-list .item-controls .item-control {
  text-align: center;
  flex-grow: 0;
  flex-basis: 17px;
}

.aetrimonde .flexcol {
  padding: 2px;
  justify-content: flex-start;
  align-items: stretch;
}

.aetrimonde .flexrow.skill {
  height: 25px;
  padding: 2px;
  justify-content: space-between;
}

.aetrimonde .flexrow.skill span.skill-rolls {
  text-align: right;
}

.aetrimonde .charheader {
  height: 80px;
}

.aetrimonde input.charname {
  height: 80px;
  font-size: 24pt;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.aetrimonde .caption {
  display: inline-block;
  height: 14px;
  font-style: italic;
  font-size: 8pt;
  text-align: center;
}

.aetrimonde .checklabel {
}

.aetrimonde input:read-only {
  border: none;
}

.aetrimonde textarea.feature-benefit {
  font-family: inherit;
  font-size: inherit;
  height: 6em;
}

.aetrimonde .modes{
  border-top: 1px solid #AAA;
}

.aetrimonde .growhalf {
  flex-grow: 0.5;
  text-align: center;
  padding: 2px;
}

.aetrimonde .truncated-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aetrimonde .rowend {
  text-align: right;
}

.aetrimonde .item-controls.flexrow {
  align-items: center;
}

.aetrimonde .equip-controls {
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.aetrimonde .flexrow span {
  width: calc(100% - 2px);
}

.aetrimonde .flexrow.spread {
  justify-content: space-around;
}

.aetrimonde .flexrow .flex4 {
  flex-grow: 4;
}

.aetrimonde .section-select:not(:checked) ~ div,
.aetrimonde .section-select:not(:checked) ~ textarea,
.aetrimonde .section-select:not(:checked) ~ input[type="text"],
.aetrimonde .section-select:not(:checked) ~ input[type="number"] {
  display: none;
}

.aetrimonde .section-select:checked ~ span.placeholder-label {
  writing-mode: vertical-rl;
  font-size: 8pt;
  text-align: left;
  width: 10px;
  flex-grow: 0;
  padding-top: 4px;
}

.aetrimonde .section-select:not(:checked) ~ span.placeholder-label {
  padding: 5px;
}

.aetrimonde .items-list .power {
  height: auto;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.aetrimonde .items-list .power img {
  display: block;
}

.aetrimonde .items-list .power span.rollable {
  text-align: center
}

.aetrimonde .flavortext {
  font-style: italic;
}

.aetrimonde .italic {
  font-style: italic;
}

.aetrimonde .boldface {
  font-weight: bold;
}

.aetrimonde .centered {
  text-align: center;
  padding: 2px;
}

.aetrimonde .borderbox {

  border: 1px solid #782e22;
}

.aetrimonde .fillbox {
  height: 100%;
}

.aetrimonde .shortcol {
  width: 100px;
}

.aetrimonde .namecol {
  flex-grow: 0;
  flex-shrink: 0;
  width: 200px;
}

.aetrimonde .bignumber {
  font-size: 1.3em
}

.aetrimonde .greyout {
  text-decoration: line-through;
}

.aetrimonde .item.power.flexrow div {
  padding: 0px;
}

.aetrimonde .item.power.flexrow .modes {
  align-items: flex-end;
}

.aetrimonde .items-list .item.power .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 42px;
  flex: 0 0 42px;
  margin-right: 5px;
  height: 42px;
  background-size: 42px 42px;
  border: 1px solid black;
}

.aetrimonde .items-list .item.power .item-image img {
  opacity: 0;
  object-fit: contain;
}

.aetrimonde .items-list .item.power:hover .item-image img {
  opacity: 0.75;
}

.aetrimonde .items-list .item.power .item-image:hover img {
  opacity: 1;
}

.aetrimonde .items-list input[type="checkbox"] {
  height: 10px;
  width: 10px;
}

.aetrimonde .armor-toggle.false,
.aetrimonde .weap-toggle.false,
.aetrimonde .weapoh-toggle.false,
.aetrimonde .unarmed-toggle.false,
.aetrimonde .implement-toggle.false,
.aetrimonde .equipment-toggle.false {
  color: #888888;
}

.aetrimonde .item-nodelete {
  color: #888888;
  cursor: default;
}

.aetrimonde .skill .skill-trained.true {
  font-weight: bold;
}

.aetrimonde .power-favorite {
  flex-grow: 0;
  margin: 4px
}

.aetrimonde .powerexpand {
  padding: 2px;
  color: #4b4a44;
  background: rgb(0,0,0,0.1);
  border-radius: 0px 0px 4px 4px;
}

.aetrimonde .flexrow.favorites + .powerexpand {
  display: none;
}

.aetrimonde .fas:hover {
  filter: drop-shadow(2px 2px 1px #aaaaaa);
}

/*Chat card css*/
.aetrimonde .card-header .card-content.flexrow {
  flex-wrap: wrap;
}

.aetrimonde.chat-card .card-content span.radiocol {
  flex-basis: 20px;
  flex-grow: 0;
  text-align: center;
}

.aetrimonde.chat-card span.card-header {
  font-size: 16px;
  font-weight: bold;
  flex: 1 1 auto;
  width: auto;
}

.aetrimonde.chat-card div.overline {
  border-top: 2px solid black;
}

.aetrimonde.chat-card .card-content span.radiocol input[type="radio"] {
  margin: 0px;
}

.aetrimonde .crit-message {
  text-align: right;
}

.aetrimonde.chat-card .underline {
  border-bottom: 1px solid grey;
}

.aetrimonde.chat-card .overline {
  border-top: 1px solid grey;
}

.aetrimonde.chat-card .normal-option,
.aetrimonde.chat-card .favor-option,
.aetrimonde.chat-card .conflict-option,
.aetrimonde.chat-card .disfavor-option {
  text-align: center;
  border: 1px solid grey;
  margin: 1px
}

.aetrimonde.chat-card .normal-option.false ~ .favor-option,
.aetrimonde.chat-card .normal-option.false ~ .conflict-option,
.aetrimonde.chat-card .normal-option.false ~ .disfavor-option {
  display: none;
}

.aetrimonde.chat-card .normal-box,
.aetrimonde.chat-card .favor-box,
.aetrimonde.chat-card .conflict-box,
.aetrimonde.chat-card .disfavor-box {
  flex-basis: 100%;
  border: 1px solid grey;
  margin: 1px
}

.aetrimonde.chat-card .mode-blocker {
  flex-basis: 6%;
  border: 1px solid grey;
  margin: 1px;
  text-align: center;
}

.aetrimonde.chat-card .mode-select.core ~ .mode-blocker.core,
.aetrimonde.chat-card .mode-select.favor ~ .mode-blocker.favor,
.aetrimonde.chat-card .mode-select.conflict ~ .mode-blocker.conflict,
.aetrimonde.chat-card .mode-select.disfavor ~ .mode-blocker.disfavor {
  display: none
}

.aetrimonde.chat-card .normal-box.false,
.aetrimonde.chat-card .favor-box.false,
.aetrimonde.chat-card .conflict-box.false,
.aetrimonde.chat-card .disfavor-box.false {
  display: none;
}

.aetrimonde.chat-card .normal-option,
.aetrimonde.chat-card .mode-blocker.core {
  border: 1px solid grey
}

.aetrimonde.chat-card .favor-option,
.aetrimonde.chat-card .favor-box,
.aetrimonde.chat-card .mode-blocker.favor {
  background-color: #80b280;
}

.aetrimonde.chat-card .conflict-option,
.aetrimonde.chat-card .conflict-box,
.aetrimonde.chat-card .mode-blocker.conflict {
  background-color: #dcc285;
}

.aetrimonde.chat-card .disfavor-option,
.aetrimonde.chat-card .disfavor-box,
.aetrimonde.chat-card .mode-blocker.disfavor {
  background-color: #c58080;
}

.aetrimonde.chat-card .inline-result.core,
.aetrimonde.chat-card .inline-result.favor,
.aetrimonde.chat-card .inline-result.conflict,
.aetrimonde.chat-card .inline-result.disfavor {
  flex-basis: 18%;
  display: none;
  border: 1px solid black;
  margin: 1px;
  text-align: center;
}

.aetrimonde.chat-card .mode-select.core ~ .inline-result.core {
  display: flex;
}

.aetrimonde.chat-card .favor-option.shown,
.aetrimonde.chat-card .mode-select.favor ~ .inline-result.favor {
  display: inline;
  background-color: DarkGreen
}

.aetrimonde.chat-card .conflict-option.shown,
.aetrimonde.chat-card .mode-select.conflict ~ .inline-result.conflict {
  display: flex;
  background-color: DarkGoldenRod
}

.aetrimonde.chat-card .disfavor-option.shown,
.aetrimonde.chat-card .mode-select.disfavor ~ .inline-result.disfavor {
  display: flex;
  background-color: DarkRed
}

.aetrimonde.chat-card .mode-select ~ .inline-result .grey {
  color: LightGray
}

.aetrimonde.chat-card .inline-result .fas {
  margin-right: 2px;
}

.aetrimonde.chat-card .inline-result.favor .fas,
.aetrimonde.chat-card .inline-result.conflict .fas,
.aetrimonde.chat-card .inline-result.disfavor .fas {
  color: LightGray
}

.aetrimonde.chat-card .mode-select {
  display: none
}

a.inline-result {
  background: none;
  border: none;
}

.aetrimonde.chat-card .card-content span.inset {
  margin-left: 20px;
}
