<div class="aetrimonde chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}"
  <header class="card-header">
    <div class="card-content flexrow flex-between underline">
      <span class="card-header">{{power.name}}</span>
      <span class="card-header">{{power.data.powertype}}</span>
    </div>
  </header>

  {{#if power.data.effect.exists}}
  <div class="card-content">
    <span class="boldface">Effect:</span> {{power.data.effect.text}}
  </div>
  {{/if}}
  {{#if power.data.attack.exists}}
  <div class="card-content">
    <span><span class="boldface">Attack: </span>{{numberFormat power.data.attack.bonus decimals=0 sign=true}}{{#if power.data.attack.hasthreat}}T{{/if}}{{#if power.data.attack.off}}/{{numberFormat power.data.attack.bonus decimals=0 sign=true}}{{#if power.data.attack.hasoffthreat}}T{{/if}}{{/if}} vs. {{power.data.attack.vslabel}}</span>
  </div>
  <div class="card-content">
    <span><span class="boldface">Hit: </span>{{power.data.hit.text}}</span>
  </div>
  {{#if power.data.miss.text}}
  <div class="card-content">
    <span><span class="boldface">Miss: </span>{{power.data.miss.text}}</span>
  </div>
  {{/if}}
  {{/if}}
  {{#if power.data.maintain.exists}}
  <div class="card-content">
    <span><span class="boldface">Maintain: </span>{{power.data.maintain.text}}</span>
  </div>
  {{/if}}
  {{#if power.data.special.exists}}
  <div class="card-content">
    <span><span class="boldface">Special: </span>{{power.data.special.text}}</span>
  </div>
  {{/if}}
  <div class="underline">

  </div>
  {{#if greater}}
  <div class="card-content">
    <input type="checkbox" class="expend-power" checked="true"/> Expend Power
  </div>
  {{/if}}
  {{#if targets}}{{#if power.data.attack.exists}}
  <div class="card-content flexrow underline">
    <span class="flex4 boldface">{{#if offtargets}}Main-hand {{/if}}Attack Rolls: </span>
    <span class="radiocol">N</span>
    <span class="radiocol">F</span>
    <span class="radiocol">C</span>
    <span class="radiocol">D</span>
  </div>
  {{#each targets as |target id|}}
  <div class="card-content target-line flexrow">
    <span class="flex4">{{target.name}}: </span>
    <span class="radiocol"><input type="radio" id="n" name="attack-{{target.id}}" value="n" title="Roll Normally" checked="true"></span>
    <span class="radiocol"><input type="radio" id="f" name="attack-{{target.id}}" value="f" title="Roll with Favor"></span>
    <span class="radiocol"><input type="radio" id="c" name="attack-{{target.id}}" value="c" title="Roll with Conflict"></span>
    <span class="radiocol"><input type="radio" id="d" name="attack-{{target.id}}" value="d" title="Roll with Disfavor"></span>
  </div>
  {{/each}}
  {{/if}}{{/if}}
  {{#if offtargets}}{{#if power.data.attack.exists}}
  <div class="card-content flexrow underline overline">
    <span class="flex4 boldface">Off-hand Attack Rolls: </span>
    <span class="radiocol">N</span>
    <span class="radiocol">F</span>
    <span class="radiocol">C</span>
    <span class="radiocol">D</span>
  </div>
  {{#each offtargets as |target id|}}
  <div class="card-content target-line flexrow off-hand">
    <span class="flex4">{{target.name}}: </span>
    <span class="radiocol"><input type="radio" id="n" name="offattack-{{target.id}}" value="n" title="Roll Normally" checked="true"></span>
    <span class="radiocol"><input type="radio" id="f" name="offattack-{{target.id}}" value="f" title="Roll with Favor"></span>
    <span class="radiocol"><input type="radio" id="c" name="offattack-{{target.id}}" value="c" title="Roll with Conflict"></span>
    <span class="radiocol"><input type="radio" id="d" name="offattack-{{target.id}}" value="d" title="Roll with Disfavor"></span>
  </div>
  {{/each}}
  {{/if}}{{/if}}


</div>
