<div class="aetrimonde chat-card result-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}">

  <header class="card-header flexrow">
    <span class="card-header">{{power.name}} Off-Hand Attack</span>
  </header>
  {{#if targets}}
  <div class="card-content underline">
    <span class="boldface">Attack:</span> {{numberFormat power.data.attack.offbonus decimals=0 sign=true}}{{#if power.data.attack.hasoffthreat}}T{{/if}} vs. {{power.data.attack.vslabel}}
  </div>
  {{/if}}
  {{#each targets as |target id|}}
  <div class="card-content flexrow mode-set underline">
    <span>{{target.name}}:</span>
    <span class="mode-select {{id}} core"></span>
    <a class="mode-blocker {{id}} core flex0" data-id="{{id}}">N</a>
    <a class="inline-roll inline-result {{id}} core flex0 flex-center {{#if target.rolls.core.crithit}}crithit{{/if}}{{#if target.rolls.core.critmiss}}critmiss{{/if}}" title="{{target.rolls.core.formula}}" data-roll="{{target.rolls.core.json}}"><i class="fas fa-dice-d20"></i><span>&nbsp;{{target.rolls.core.result}}</span></a>
    <a class="mode-blocker {{id}} favor flex0" data-id="{{id}}" >F</a>
    <a class="inline-roll inline-result {{id}} favor flex0 flex-center {{#if target.rolls.favor.crithit}}crithit{{/if}}{{#if target.rolls.favor.critmiss}}critmiss{{/if}}" title="{{target.rolls.favor.formula}}" data-roll="{{target.rolls.favor.json}}"><i class="fas fa-dice-d20"></i><span class="grey">&nbsp;{{target.rolls.favor.result}}</span></a>
    <a class="mode-blocker {{id}} conflict flex0" data-id="{{id}}" >C</a>
    <a class="inline-roll inline-result {{id}} conflict flex0 flex-center {{#if target.rolls.conflict.crithit}}crithit{{/if}}{{#if target.rolls.conflict.critmiss}}critmiss{{/if}}" title="{{target.rolls.conflict.formula}}" data-roll="{{target.rolls.conflict.json}}"><i class="fas fa-dice-d20"></i><span class="grey">&nbsp;{{target.rolls.conflict.result}}</span></a>
    <a class="mode-blocker {{id}} disfavor flex0" data-id="{{id}}" >D</a>
    <a class="inline-roll inline-result {{id}} disfavor flex0 flex-center {{#if target.rolls.disfavor.crithit}}crithit{{/if}}{{#if target.rolls.disfavor.critmiss}}critmiss{{/if}}" title="{{target.rolls.disfavor.formula}}" data-roll="{{target.rolls.disfavor.json}}"><i class="fas fa-dice-d20"></i><span class="grey">&nbsp;{{target.rolls.disfavor.result}}</span></a>
  </div>
  {{/each}}
  <div class="card-content result flexrow flex-middle underline">
    <a class="boldface hit normal-option false flex2">Hit</a>
    {{#if power.data.hit.rolls}}
    <a class="boldface hit favor-option false">Favor</a>
    <a class="boldface hit conflict-option false">Conflict</a>
    <a class="boldface hit disfavor-option false">Disfavor</a>
    {{/if}}
    <div class="card-content hit normal-box false">
      <span class="boldface">Hit:</span>
      {{#each hit as |segment no|}}
        {{#if segment.pre}}
          {{segment.text}}
          <a class="inline-roll inline-result" title="{{segment.core.formula}}" data-roll="{{segment.core.json}}"><i class="fas fa-dice-d20"></i>{{segment.core.result}}</a>
        {{/if}}
        {{#if segment.post}}
          {{segment.post}}
        {{/if}}
      {{/each}}
    </div>
    {{#if power.data.hit.rolls}}
    <div class="card-content hit favor-box false">
      <span class="boldface">Hit with Favor:</span>
      {{#each hit as |segment no|}}
        {{#if segment.pre}}
          {{segment.text}}
          <a class="inline-roll inline-result" title="{{segment.favor.formula}}" data-roll="{{segment.favor.json}}"><i class="fas fa-dice-d20"></i>{{segment.favor.result}}</a>
        {{/if}}
        {{#if segment.post}}
          {{segment.post}}
        {{/if}}
      {{/each}}
    </div>
    <div class="card-content hit conflict-box false">
      <span class="boldface">Hit with Conflict:</span>
      {{#each hit as |segment no|}}
        {{#if segment.pre}}
          {{segment.text}}
          <a class="inline-roll inline-result" title="{{segment.conflict.formula}}" data-roll="{{segment.conflict.json}}"><i class="fas fa-dice-d20"></i>{{segment.conflict.result}}</a>
        {{/if}}
        {{#if segment.post}}
          {{segment.post}}
        {{/if}}
      {{/each}}
    </div>
    <div class="card-content hit disfavor-box false">
      <span class="boldface">Hit with Disfavor:</span>
      {{#each hit as |segment no|}}
        {{#if segment.pre}}
          {{segment.text}}
          <a class="inline-roll inline-result" title="{{segment.disfavor.formula}}" data-roll="{{segment.disfavor.json}}"><i class="fas fa-dice-d20"></i>{{segment.disfavor.result}}</a>
        {{/if}}
        {{#if segment.post}}
          {{segment.post}}
        {{/if}}
      {{/each}}
    </div>
    {{/if}}
  </div>
  {{#if power.data.miss.text}}
  <div class="card-content result flexrow flex-middle underline">
    <a class="boldface miss normal-option false flex2">Miss</a>
    {{#if power.data.miss.rolls}}
    <a class="boldface miss favor-option false">Favor</a>
    <a class="boldface miss conflict-option false">Conflict</a>
    <a class="boldface miss disfavor-option false">Disfavor</a>
    {{/if}}
    <div class="card-content miss normal-box false">
      <span class="boldface">Miss:</span>
      {{#each miss as |segment no|}}
        {{#if segment.pre}}
          {{segment.text}}
          <a class="inline-roll inline-result" title="{{segment.core.formula}}" data-roll="{{segment.core.json}}"><i class="fas fa-dice-d20"></i>{{segment.core.result}}</a>
        {{/if}}
        {{#if segment.post}}
          {{segment.post}}
        {{/if}}
      {{/each}}
    </div>
    {{#if power.data.miss.rolls}}
    <div class="card-content miss favor-box false">
      <span class="boldface">Miss with Favor:</span>
      {{#each miss as |segment no|}}
        {{#if segment.pre}}
          {{segment.text}}
          <a class="inline-roll inline-result" title="{{segment.favor.formula}}" data-roll="{{segment.favor.json}}"><i class="fas fa-dice-d20"></i>{{segment.favor.result}}</a>
        {{/if}}
        {{#if segment.post}}
          {{segment.post}}
        {{/if}}
      {{/each}}
    </div>
    <div class="card-content miss conflict-box false">
      <span class="boldface">Miss with Conflict:</span>
      {{#each miss as |segment no|}}
        {{#if segment.pre}}
          {{segment.text}}
          <a class="inline-roll inline-result" title="{{segment.conflict.formula}}" data-roll="{{segment.conflict.json}}"><i class="fas fa-dice-d20"></i>{{segment.conflict.result}}</a>
        {{/if}}
        {{#if segment.post}}
          {{segment.post}}
        {{/if}}
      {{/each}}
    </div>
    <div class="card-content miss disfavor-box false">
      <span class="boldface">Miss with Disfavor:</span>
      {{#each miss as |segment no|}}
        {{#if segment.pre}}
          {{segment.text}}
          <a class="inline-roll inline-result" title="{{segment.disfavor.formula}}" data-roll="{{segment.disfavor.json}}"><i class="fas fa-dice-d20"></i>{{segment.disfavor.result}}</a>
        {{/if}}
        {{#if segment.post}}
          {{segment.post}}
        {{/if}}
      {{/each}}
    </div>
    {{/if}}
  </div>
  {{/if}}
  <div class="card-content result flexrow flex-middle underline">
    <a class="boldface crit normal-option false flex2">Critical Hit</a>
    <a class="boldface crit favor-option false">Favor</a>
    <a class="boldface crit conflict-option false">Conflict</a>
    <a class="boldface crit disfavor-option false">Disfavor</a>
    <div class="card-content crit normal-box false">
      {{#each crit as |critcontent no|}}
      <div>
        <span class="boldface">{{critcontent.source}}: </span>
        {{#each critcontent.content as |segment no|}}
          {{#if segment.pre}}
            {{segment.text}}
            <a class="inline-roll inline-result" title="{{segment.core.formula}}" data-roll="{{segment.core.json}}"><i class="fas fa-dice-d20"></i>{{segment.core.result}}</a>
          {{/if}}
          {{#if segment.post}}
            {{segment.post}}
          {{/if}}
        {{/each}}
        </div>
      {{/each}}
    </div>
    <div class="card-content crit favor-box false">
      {{#each crit as |critcontent no|}}
      <div>
        <span class="boldface">{{critcontent.source}} with Favor: </span>
        {{#each critcontent.content as |segment no|}}
          {{#if segment.pre}}
            {{segment.text}}
            <a class="inline-roll inline-result" title="{{segment.favor.formula}}" data-roll="{{segment.favor.json}}"><i class="fas fa-dice-d20"></i>{{segment.favor.result}}</a>
          {{/if}}
          {{#if segment.post}}
            {{segment.post}}
          {{/if}}
        {{/each}}
        </div>
      {{/each}}
    </div>
    <div class="card-content crit conflict-box false">
      {{#each crit as |critcontent no|}}
      <div>
        <span class="boldface">{{critcontent.source}} with Conflict:  </span>
        {{#each critcontent.content as |segment no|}}
          {{#if segment.pre}}
            {{segment.text}}
            <a class="inline-roll inline-result" title="{{segment.conflict.formula}}" data-roll="{{segment.conflict.json}}"><i class="fas fa-dice-d20"></i>{{segment.conflict.result}}</a>
          {{/if}}
          {{#if segment.post}}
            {{segment.post}}
          {{/if}}
        {{/each}}
        </div>
      {{/each}}
    </div>
    <div class="card-content crit disfavor-box false">
      {{#each crit as |critcontent no|}}
      <div>
        <span class="boldface">{{critcontent.source}} with Disfavor:</span>
        {{#each critcontent.content as |segment no|}}
          {{#if segment.pre}}
            {{segment.text}}
            <a class="inline-roll inline-result" title="{{segment.disfavor.formula}}" data-roll="{{segment.disfavor.json}}"><i class="fas fa-dice-d20"></i>{{segment.disfavor.result}}</a>
          {{/if}}
          {{#if segment.post}}
            {{segment.post}}
          {{/if}}
        {{/each}}
        </div>
      {{/each}}
    </div>
  </div>

</div>
