<div class="aetrimonde chat-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}"
  <header class="card-header flexrow">
    <h3 class="item-name">Enchantment: {{item.name}}</h3>
  </header>

  <!-- {{#if resource}}
  <div class="card-content">
    <input type="checkbox" class="expend" checked="true"/> Expend Greater Power
  </div>
  {{/if}} -->
  <div class="card-content">
    Select an appropriate item to receive this enchantment:
  </div>
  <select style="width:100%" class="chooser" name="targetitem" data-type="String">
    {{#select targetitem}}
    <option value="brandnew">Create a new item</option>
    {{#each itemoptions as |target t|}}
    <option value="{{target.id}}">{{target.name}}</option>
    {{/each}}
    {{/select}}
  </select>


</div>
