<div class="aetrimonde chat-card result-card item-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}"
  <header class="card-header flexrow">
    <span class="card-header">{{power.name}} Attack Result{{#if favor}} With Favor{{/if}}{{#if disfavor}} With Disfavor{{/if}}{{#if conflict}} With Conflict{{/if}}</span>
  </header>

  <div class="underline">{{type}} against {{#if target}}{{target.name}}{{#if target.main}} (Main-Hand){{/if}}{{#if target.off}} (Off-Hand){{/if}}{{/if}}{{#unless target}}{{hitnames}}{{/unless}}</div>
  <div class="card-content">
    {{#if content}}{{content}}{{/if}}
    {{#each critcontent as |content no|}}
      <div class="card-content">
        {{content.source}} {{content.criteffect}}
      </div>
    {{/each}}
    {{#if entries}}
      {{#if core}}
        {{#each entries as |entry no|}}
          <div class="card-content">
            {{#each entry.content as |segment no|}}
              {{#if segment.pre}}
                {{segment.text}}
                <a class="inline-roll inline-result" title="{{segment.core.formula}}" data-roll="{{segment.core.json}}"><i class="fas fa-dice-d20"></i>{{segment.core.result}}</a>
              {{/if}}
              {{#if segment.post}}
                {{segment.post}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      {{/if}}
      {{#if favor}}
        {{#each entries as |entry no|}}
          <div class="card-content">
            {{#each entry.content as |segment no|}}
              {{#if segment.pre}}
                {{segment.text}}
                <a class="inline-roll inline-result" title="{{segment.favor.formula}}" data-roll="{{segment.favor.json}}"><i class="fas fa-dice-d20"></i>{{segment.favor.result}}</a>
              {{/if}}
              {{#if segment.post}}
                {{segment.post}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      {{/if}}
      {{#if disfavor}}
        {{#each entries as |entry no|}}
          <div class="card-content">
            {{#each entry.content as |segment no|}}
              {{#if segment.pre}}
                {{segment.text}}
                <a class="inline-roll inline-result" title="{{segment.disfavor.formula}}" data-roll="{{segment.disfavor.json}}"><i class="fas fa-dice-d20"></i>{{segment.disfavor.result}}</a>
              {{/if}}
              {{#if segment.post}}
                {{segment.post}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      {{/if}}
      {{#if conflict}}
        {{#each entries as |entry no|}}
          <div class="card-content">
            {{#each entry.content as |segment no|}}
              {{#if segment.pre}}
                {{segment.text}}
                <a class="inline-roll inline-result" title="{{segment.conflict.formula}}" data-roll="{{segment.conflict.json}}"><i class="fas fa-dice-d20"></i>{{segment.conflict.result}}</a>
              {{/if}}
              {{#if segment.post}}
                {{segment.post}}
              {{/if}}
            {{/each}}
          </div>
        {{/each}}
      {{/if}}
    {{/if}}
  </div>


</div>
