<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="flexcol">
        <div class="flexrow">
          <select name="data.source" data-type="String">
              {{#select data.source}}
              <option value="">Source</option>
              {{#each data.sources as |src s|}}
              <option value="{{s}}">{{src.label}}</option>
              {{/each}}
              {{/select}}
          </select>
          <span><input name="data.category" type="text" value="{{data.category}}" placeholder="Category (Race/Class/Keywords/etc.)"/></span>
        </div>
        <span><input name="data.req" type="text" value="{{data.req}}" placeholder="Requirement"/></span>
        <textarea class="feature-benefit" name="data.benefit" rows="8" cols="80" placeholder="Benefit">{{data.benefit}}</textarea>
        <textarea class="feature-benefit" name="data.notes" rows="4" cols="80" placeholder="Notes">{{data.notes}}</textarea>
      </div>
    </section>
</form>
